:root {
    --primary-color: #0a0c36;
    --secondary-color: #9496c5;
    --thirtiary-color: #db97ea;
    --contrast-color: #d7d8f4;
}

.about {
    padding: 12vh 20%;
    margin: auto;
    width: 60%;
    height: 76vh;
}

h1 {
    font-size: 3em
}

.aboutContainer {
    width: 100%;
    margin-top: 3em;
    display: grid;
    grid-template-columns: 1fr 1.8fr;
}

/* ---------- illustContainer ---------- */
.aboutContainer #marshmallows {
    width: 98%;
    box-shadow: 8px 8px var(--secondary-color);
}

.aboutContainer figcaption {
    font-size: 1em;
    margin: 10px 20px;
}

.aboutContainer figcaption span:hover {
    color: var(--thirtiary-color);
}

/* ---------- Paragraph ---------- */
.aboutContainer p {
    width: 70%;
    font-size: 1.2em;
    line-height: 1.2em;
    text-align: left;
    margin: auto 15%;
}

.aboutContainer p span {
    padding: 5%;
}

.aboutContainer a {
    color: var(--thirtiary-color);
}

.aboutContainer a:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}

.aboutContainer .contactIcon {
    width: 50px;
    background-color: var(--contrast-color);
    border: 1px solid var(--secondary-color);
    border-radius: 25%;
    margin: 10px;
}

.aboutContainer .contactIcon:hover {
    color: var(--thirtiary-color);
}

/* ---------- Media Query ---------- */
@media only screen and (max-width: 860px) {
    .about {
        width: 100%;
    }

    .aboutContainer {
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr;
        width: 100%;
    }

    .aboutContainer p {
        margin: 8% auto;
        width: 100%;
    }
}