:root {
    --primary-color: #0a0c36;
    --secondary-color: #9496c5;
    --thirtiary-color: #db97ea;
    --contrast-color: #d7d8f4;
}

.home {
    width: 100%;
    height: 50%;
    padding: 15% 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.home img {
    margin: auto auto auto 0;
    width: 90%;
}

.home .right {
    margin: auto 0 auto auto;
    width: 100%;
}

.home h1 {
    margin-left: auto;
    width: 10em;
    box-sizing: border-box;
    border: 2px solid var(--contrast-color);
}

#marshchoco {
    margin: 5%;
    font-size: 1em;
    color: var(--secondary-color);
    font-weight: normal;
}

#name {
    color: var(--thirtiary-color);
    font-weight: bold;
    text-decoration: none;
}

#name:hover {
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    0% {
        background-color: var(--primary-color);
        border-radius: 0;
    }

    100% {
        background-color: var(--contrast-color);
        border-radius: 12.5px;
    }
}

/* -=-=-=-=-=-=-=-=-=-=-=- My balls -=-=-=-=-=-=-=-=-=-=-=- */
@keyframes dropFromTop {
    0% {
        opacity: 0;
        transform: translateY(-200%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.balls {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.balls button {
    margin: 0 10px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    opacity: 0;
}

#ball1 {
    background-color: var(--thirtiary-color);
    animation: dropFromTop 1.0s forwards 1 1.85s;
}

#ball2 {
    background-color: var(--secondary-color);
    animation: dropFromTop 1.0s forwards 1 1.60s;
}

#ball3 {
    background-color: var(--contrast-color);
    animation: dropFromTop 1.0s forwards 1 1.35s;
}

/* -=-=-=-=-=-=-=-=-=-=-=- Media Query -=-=-=-=-=-=-=-=-=-=-=- */

@media only screen and (max-width: 960px) {
    .home {
        height: 80%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3 1;
    }

    .home img {
        margin: 10% auto;
        width: 60%;
    }

    .home h1 {
        width: 95%;
        margin: 7% auto;
    }
}

@media only screen and (max-width: 520px) {
    #marshchoco {
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 420px) {
    .home img {
        margin: 5% auto;
    }

    #marshchoco {
        font-size: 0.6em;
    }
}