:root{
    --primary-color: #0a0c36;
    --secondary-color: #9496c5;
    --thirtiary-color: #db97ea;
    --contrast-color: #d7d8f4;
}

nav{
    width: 100%;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

nav li{
    padding: 1rem 3rem;
    font-size: 1.2em;
    float: right;
    list-style: none;
}

#home{
    height: 100%;
    margin: 0px;
    padding: 0;

}

nav a{
    text-decoration: none;
    color: var(--contrast-color);
}