:root {
    --width-lg: 720px;
    --width-xl: 1024px;
}

html {
    overflow-y: overlay;
}

html,
body {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    background-color: white;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #a3a1a9;
}
