:root {
    --primary-color: #0a0c36;
    --secondary-color: #9496c5;
    --thirtiary-color: #db97ea;
    --contrast-color: #d7d8f4;
}

::-webkit-scrollbar {
    background-color: var(--primary-color);
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--secondary-color);
}

body,
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content {
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    color: #d7d8f4;
    background-color: var(--primary-color);
    user-select: none;
}